body {
  background-color: #EAF6F6;

}

h1,h2,h3 {
  color: #66BFBF;
}

hr {
  /* can also be written as-
  border-top: 5px dotted grey;
  width: 10%;
  */
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
